@import "reset";

/** Colors **/

/* Palette */
$white: #fff;
$black: #000;

$brand: red;
$action: blue;
$accent: gold;

/* Color use */

$body-bg: $white;
$body-text: $black;

/** Mixins **/

@mixin default_blocking {
  display: block; margin: 0 0 0.5em;
}

@mixin heading_type {
  font: 700 2em "Georgia", serif;
}

@mixin fade_out {
  @-webkit-keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  @-moz-keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  @keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }

  opacity: 1;
  -webkit-animation: fadeout 1s linear 1.5s 1 forwards;
  -moz-animation: fadeout 1s linear 1.5s 1 forwards;
  animation: fadeout 1s linear 1.5s 1 forwards;
}

@mixin placeholder_text($colour) {
  color: $colour; opacity: 1;
}

@mixin if-wider-than($min-width) {
  @media (min-width:$min-width) { @content; }
}
/** IF-WIDER-THAN TEMPLATE
element {
  // base rules

  @include if-wider-than(320px) {
    // portrait smartphones
  }
  @include if-wider-than(480px) {
    // big screen smartphones, landscape smartphones
  }
  @include if-wider-than(600px) {
    // portrait tablets, e-readers, landscape 800x480 phones
  }
  @include if-wider-than(701px) {
    // landscape tablets, lo-res laptops ands desktops
  }
  @include if-wider-than(900px) {
    // big landscape tablets, laptops, and desktops
  }
  @include if-wider-than(1281px) {
    // hi-res laptops and desktops
  }
}
**/


/** Generics **/

@-ms-viewport { width: device-width; } /* Telling IE10 to use the mobile version in snap view */

body {background: $body-bg; color: $body-text; font: 400 62.5%/1.125 "Helvetica", sans-serif;}

h1 {
  @include default_blocking;
  @include heading_type;
}

h2 {
  @include default_blocking;
  @include heading_type;
}

h3 {
  @include default_blocking;
  @include heading_type;
}

h4 {
  @include default_blocking;
  @include heading_type;
}


/** Basic Layout Elements **/

article,
p,
section {@include default_blocking;}



/** Forms **/

form {

  input {

    &[type=email] {
      background: $brand; color: $white;

      &::-webkit-input-placeholder { @include placeholder_text($white); }
      &:-moz-placeholder { @include placeholder_text($white); }
      &::-moz-placeholder { @include placeholder_text($white); }
      &:-ms-input-placeholder {color: $white;}
    }

    &[type=submit] {
      background: $action; color: $white;

      &:hover {background: $accent; color: $white;}
      &:active,
      &:focus {background: $accent; color: $white;}
    }
  }

  flash {
    @include default_blocking;
    @include fade_out;
  }
}


/** Page Layout **/

section.social {
  img {
    width: 5em;

    &.twitter {}
    &.facebook {}
  }
}


/** Device specific stylings (probably) **/

@media screen and
  (-webkit-device-pixel-ratio: 1), /* non-Retina iDevices */

  (orientation : landscape) and
  (-webkit-device-pixel-ratio: 2), /* landscape iPhone 5 */

  (orientation : landscape) and
  (-webkit-device-pixel-ratio: 3){ /* landscape iPhone 6 Plus */

    input[type=submit] {}

/* end landscape iPhone 5 + landscape 6 Plus + non-retina iDevices */}

@media screen and
  (min-device-width: 768px) and
  (max-device-width: 1024px) and
  (-webkit-min-device-pixel-ratio: 2) {/* Retina iPad */

    input[type=submit] {}

/* end Retina iPad */}
