!!!
%html{lang: 'en-us'}
  %head
    %title Railscamp USA &mdash; East Coast
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes" }

    %script{:src => "https://use.typekit.net/zvv4pnr.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}

    %link{href: "/main.css", media: "screen, projection", rel: "stylesheet", type: "text/css"}

  %body

    %section.info
      %h1 Rails Camp USA East Coast<br/>Code of Conduct
      %p.source
        Rails Camp USA is sourced from the original Rails Camps in Australia. This Code of Conduct is derived from that used by  
        %a{:href => "http://ruby.org.au/"} Ruby Australia
        for Rails Camps and other events.
      %p Matz is nice, and we are nice.
      %p In the same way that Matz has written Ruby with a focus on developer happiness, we are focused on community happiness. The Ruby community is full of wonderful people from a diverse range of backgrounds, and we want to ensure it remains a welcoming and safe environment to all who wish to be a part of it.
      %p Whenever we come together as a community, our shared spaces are opportunities to showcase the best of what we can be. We are there to support our peers - to build each other up, to accept each other for who they are, and to encourage each other to become the people they want to be.
      %p With that in mind, if you are present at any Rails Camp USA event, whether as an attendee, organiser, sponsor or speaker, we take it as given that you agree to follow this code of conduct:

      %p.coc Rails Camp USA is dedicated to providing harassment-free experiences at events and conferences for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, religion, or age. We do not tolerate harassment in any form.
      %p.coc All communication should be appropriate for a professional audience including people of many different backgrounds. Sexual language and imagery is not appropriate in any circumstance.
      %p.coc Be kind to others. Do not insult or put down other members of the community. Be respectful towards others. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for Rails Camp USA events.
      %p.coc Anyone violating these rules at events may be asked to leave the event without a refund at the sole discretion of the organisers.
      %p.coc If you or someone else is subject to harassment, or you have a concern, please contact the event organisers (who will introduce themselves at the beginning of the event).
      %p.coc The Ruby community is a welcoming and friendly place – thank you for being a part of it.

      %h2 Anti-harassment Policy
      %p The Rails Camp organisers are dedicated to providing a harassment-free Rails Camp experience for everyone. We do not tolerate harassment of camp participants in any form. Sexual language and imagery are not appropriate for any camp venue, including talks or activities. Camp participants violating these rules may be sanctioned or expelled from the camp without a refund at the discretion of the camp organisers.
      %p Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
      %p Participants asked to stop any harassing behavior are expected to comply immediately.
      %p If a participant engages in harassing behaviour, event organisers retain the right to take any actions to keep the event a welcoming environment for all people. This includes warning the offender or expulsion from the event without a refund.
      %p If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of camp organisers or camp staff immediately. Rails Camp organisers and camp staff will be clearly identified at the start of the camp.
      %p We expect participants to follow these rules at the camp venue and camp-related activies.

      %p.source If you have any questions about, or feedback on, these policies, please contact the Rails Camp organisers via email: <a href="mailto:railscampusa@gmail.com">railscampUSA@gmail.com</a>.
    