!!!
%html{lang: 'en-us'}
  %head
    %title Railscamp USA &mdash; East Coast
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes" }

    %link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css")
    %link{href: "/main.css", rel: "stylesheet", type: "text/css"}

  %body
    %header.hero
      .hero-heading
        %small East Coast Edition
        %h1 Rails Camp USA
        %p
          Join us for three nights of hacking, socialising and game playing,
          without any phone or internet

      %footer
        .hero-dates
          %strong 8&ndash;11 April, 2016
        .hero-venue
          %strong Ashokan Center
          %span Catskills, NY
        .hero-buy
          %script{async: "async", src: "//widgets.nvite.com/1.1/button.js", "data-resource": "ce11", "data-button-text": "REGISTER NOW"}

    %section.intro
      .highlight
        Rails Camps are events for members of the
        %br
        web development community to meet others
        %br
        and learn from each other.
      %p
        Rails Camp is a friendly, welcoming, informal event to improve skills and build connections with others, for web professionals of all levels of experience. While there will be a general focus on Ruby (and Rails), attendees of all technical backgrounds and experience are welcomed and encouraged to join.

      %p
        You should come to Rails Camp if you’re interested in Ruby,
        Rails or any other web technology,
        if you want to hack on something,
        or if you want to hang out, meet new people, and play werewolf.

      %h2 Some of the activities include:
      %ul
        %li Hacking on side projects, open source, whatever they like. Sometimes they involve Ruby, sometimes they don’t.
        %li Working with others at the camp on aforementioned side projects, sometimes by pairing, sometimes across many machines.
        %li Presentations, group discussions, and workshops.
        %li Socialising.
        %li Playing card and board games (such as Werewolf), which perhaps can be filed under socialising.

      %h2 History

      %p Rails Camp was born in Australia in 2007, and has been happening twice a year there ever since. There have also been Rails Camps in the UK, New Zealand, Germany, Spain, Poland, and Denmark -- plus a few over in New England a while ago. Rails Camps in the USA were recently re-started by a very successful event in September last year in the Sierras. We are bringing that same experience to the East Coast this April. To see details of other camps, you can visit <a href="http://railscamps.net/">http://railscamps.net/</a>.

      %h2 Tickets
      %p Our goal is to make this event as affordable as possible to attendees, and this is a non-for-profit community event. The ticket price includes accommodation, meals and bus transfers from JFK airport and Port Authority in Manhattan. We also offer discounted tickets for minorities in the Ruby/Rails community. Sales end March 25th, 2016.

      %h2 Code of conduct
      %p
        Rails Camp USA has an anti-harassment policy and
        requires all attendees to abide by a Code of Conduct.
        You can read it here:
        <a href="/conduct">Rails Camp USA Code of Conduct</a>.

      %h2 Photos and other links
      %ul
        %li
          %a(href="https://twitter.com/railscamp_usa") Twitter
        %li
          %a(href="https://www.instagram.com/railscamp_usa/") Instagram

    %section.info
      %h1 What to bring with you

      %h2 Camp essentials
      %ul
        %li A sleeping bag or doona (blanket) and sheets, plus a pillowcase
        %li A towel (or two!)
        %li Clothes for cold weather
        %li Your laptop and power source, plus any other computer gear you want to bring
        %li Toiletries plus any medications you regularly take

      %h2 Nice to have
      %ul
        %li Extra snacks
        %li Any “fancy” liquor you wish to consume. The camp will be providing non-alcoholic soft drinks, tea, and coffee
        %li Games to play with others. Board games or card games are always popular
        %li Anything you can't live without

      %h2 Projects, hacking and speaking
      %p If you want to work on a project at Rails Camp, we recommend you:
      %ul
        %li Download copies of all the relevant documentation you can
        %li Start your project before you go, so you know that everything will be there
        %li Make a goal for what you want achieved by the end of the weekend

      %h2#bus-schedule Bus Schedule
      %ul
        %li
          %strong Friday, April 8th:
          2pm from JFK Airport and then will continue on to pick people up from Port Authority Manhattan near 42nd Street (exact address to follow)
        %li
          %strong Monday, April 11th:
          9am from Ashokan Center, stop at Port Authority and will continue to JFK Airport

      </br>
      %h3 JFK Airport Pick Up
      %p Bus pick from JFK Airport will be from Federal Circle Station at 2pm. As a side note, the car rental facilities at JFK airport are all located at the same place.

      %p The JFK AirTrain is an automatic train service that circulates throughout the entire grounds of the airport. To get to Federal Circle at the JFK Airport, passengers will have to take the AirTrain service to Station C. You can take both Jamaica Station Train and Howard Beach Train, which stop at Federal Circle Station C. The AirTrain service within the airport is free and no ticket is required. Frequency of the train during the middle of the day is every 10-15 minutes.

      %ul
        %li Location on Google maps: <a href="https://goo.gl/maps/6yeu7BV7hHo">https://goo.gl/maps/6yeu7BV7hHo</a>
        %li You can find more information on <a href="http://www.panynj.gov/airports/jfk-airtrain.html"> The Port Authority of NY and NJ</a>
        %li AirTrain map is available at: <a href="http://www.panynj.gov/airports/pdf/jfk-airtrain-brochure-english.pdf">http://www.panynj.gov/airports/pdf/jfk-airtrain-brochure-english.pdf</a>

    %section.location
      .location-description
        %h1 Location
        %p
          The Ashokan Center is located in the Catskills area,
          two hours drive from New York.
          You're welcome to make your own way there.
          The Center has plenty of parking.
        %p
          However, we will be organising buses from
          JFK airport or Port Authority to the camp site
          for those people who need a lift.
          There will also be a return bus at the end of the camp,
          back to the pick up location.
        %p
          Phone reception at the camp is patchy at best.
          You might be able to get a phone call
          if you’re standing in the right place,
          but don’t expect to be able to tether from your phone.

      .location-map
        %a(href="http://www.google.com/maps?q=477%20Beaverkill%20Rd%2C%20Olivebridge%2C%20NY%2012461%2C%20USA" target="_blank" class="location-map")
          .location-map-image
            %svg(class="location-map-marker" width="50px" height="60px" viewBox="0 0 50 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns")
              %g(fill-rule="evenodd")
                %path(class="location-map-marker-icon" d="M25,60 C25,60 48,36.6163112 48,23.9444444 C48,11.2725777 37.7025492,1 25,1 C12.2974508,1 2,11.2725777 2,23.9444444 C2,36.6163112 25,60 25,60 Z M25,30.5 C29.3551597,30.5 32.8857143,26.9779734 32.8857143,22.6333333 C32.8857143,18.2886933 29.3551597,14.7666667 25,14.7666667 C20.6448403,14.7666667 17.1142857,18.2886933 17.1142857,22.6333333 C17.1142857,26.9779734 20.6448403,30.5 25,30.5 Z")
          .location-map-description
            .location-map-name Ashokan Center, Catskills, NY
            .location-map-address 477 Beaverkill Rd, Olivebridge


    %section.organisers
      %h1 Organisers
      %div
        %article.organisers-organiser.elle-meredith
          .organisers-organiser-image
          %p.organisers-organiser-name Elle Meredith
          %p.organisers-organiser-twitter
            %a(href="http://www.twitter.com/aemeredith") @aemeredith
        %article.organisers-organiser.lachlan-hardy
          .organisers-organiser-image
          %p.organisers-organiser-name Lachlan Hardy
          %p.organisers-organiser-twitter
            %a(href="http://www.twitter.com/lachlanhardy") @lachlanhardy

    %section.sponsors
      %h1 Sponsors
      %div
        %article.sponsors-sponsor.buildkite
          %a(href="http://buildkite.com")
            %img.sponsors-sponsor-image(src="/images/buildkite.svg")
            %p.sponsors-sponsor-name
              Buildkite
        %article.sponsors-sponsor.thoughtbot
          %a(href="http://thoughtbot.com")
            %img.sponsors-sponsor-image(src="/images/ralph.svg")
            %p.sponsors-sponsor-name
              thoughtbot

      %p We are looking for more sponsors to help support the camp. Rails Camp is a unique opportunity for your company to engage with a bunch of cool, diverse developers and designers that are also active in the Ruby and web communities. If you think you company will be interested in sponsoring Rails Camp, please <a href="mailto:railscampusa@gmail.com">get in touch</a>!


    %section.buy
      %script{async: "async", src: "//widgets.nvite.com/1.1/button.js", "data-resource": "ce11", "data-button-text": "REGISTER NOW"}
      %p.coc-link
        Read the
        %a{href: "/conduct"} Code of Conduct

    %footer.mailing-list
      %div
        %h1 Mailing list
        %p Not sure yet but want to stay in touch?
        %form{action: "/signup", method: "post"}
          %input{name: "email", placeholder: "you@email.com", type: "email"}
          %input{type: "submit", value: "submit"}
          %flash= flash[:notice]
