@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

$mobile: new-breakpoint(min-width 320px, 4);
$tablet: new-breakpoint(min-width 700px, 8);
$desktop: new-breakpoint(min-width 960px, 12);